@import '../../../../theme/variables.scss';

app-verse-card, app-skeleton-card  {
  width: 96%;
  margin-bottom: 10px;
}

.selected{
  background: $primary;
}

.passage-chip{
  min-width: 23%;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
}

